
data/switzerland-latest-free.shp/gis_osm_roads_free_1.cpg
data/switzerland-latest-free.shp/gis_osm_roads_free_1.dbf
data/switzerland-latest-free.shp/gis_osm_roads_free_1.prj
data/switzerland-latest-free.shp/gis_osm_roads_free_1.shp
data/switzerland-latest-free.shp/gis_osm_roads_free_1.shx
*.cpg
*.dbf
*.qmd
*.prj
*.shp
*.shx
