#map {
    height: 500px;
    width: 95%;
    background-color: rgba(197, 197, 197, 0.774);
    border: 15px solid darkblue;
}

body
{
    background-color: black; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}

.button {
    background-color: red;
    text-align: center;
    font-size: 50px;
    
}

.button:hover {
    background-color: green;
}

.vie {
    position: absolute;
    top : 280px

}

.points {
    position: relative;
    top : 200px;

}

#map {
    position: relative;
    top : -180px;
    left: 150px;

}


