body
{
    background-color: rgb(0, 0, 0); /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}

.button2 {
    text-align: center;
    font-size: 15px;
}

.row{
    margin: 20px;
}

form{
    margin: 20px;
}

.button-play{
    font-size: 50px;
    padding: 10px 20px;
    border-radius: 15px;
}

label{
    font-size: 20px;
    margin: 5px;
}

.scores{
    position: relative;
}

table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

th, td{
    padding: 4px 7px;
    border: 1px solid white;
}

.button-play:hover {
    background-color: rgb(27, 220, 33);
}

#map {
    height: 500px;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
}

.vie {
    position: absolute;
    top : 280px

}

.points {
    position: relative;
    top : 200px;

}

.start{
    position: relative;
    top: 300px;
}

#img-life {
    width: 80%;
}